/* Définir les styles pour le corps de la page */
body {
  margin: 0;
  font-family: Cambria   ;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f5d77f; /* Couleur de fond rappelant la région Lorraine */
  display: grid;
  grid-template-rows: auto auto 10fr auto;
}

  /* Définir les styles pour l'en-tête */
  #entete {
    background-color: #333;
    color: #fff;
    padding: 10px; 
    grid-row: 1;
    grid-column: span 2;
    text-align: center ;
  }
  
  #entete h1 {
    position: absolute;
    margin: 0;
    font-size: 50px;
    text-transform: uppercase;
    font-family: Montserrat;
    letter-spacing: 2px;
    line-height: 140px;
    margin-left: 400px;
  }
  
  #img1 {
    position: relative;
    float:left;
    margin-left: 20px;
    max-width: 100%;
    border-radius: 10px 10px 10px 10px;
  }

  #img2 {
    position: relative;
    float:right;
    margin-right: 20px;
    max-width: 100%;
    border-radius: 10px 10px 10px 10px;
  }

  
  /* Définir les styles pour la navigation */
  nav {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    grid-row: 2;
    grid-column: span 2;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav li {
    flex: 1;
    text-align: center;
    background-color: #f5f5f5;
  }
  
  nav a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 25px;
  }
  
  nav a:hover {
    background-color: #333;
    color: #f5d77f;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
  }

/* Définir les styles pour le contenu principal */
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  grid-row: 3;
  grid-column: span 2;
}
     
/* Styles pour les titres de section et d'article */
section div {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Style des paragraphes */
section p {
  font-family: Cambria   ;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Style de la liste des impressions */
section ul {
  font-family: Cambria   ;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  margin: 20px;
  padding-left: 20px;
}

/* Définir les styles pour le pied de page */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  grid-row: 4;
  grid-column: span 2;
  margin-top: 100px;
}

footer p {
  margin: 0;
  color: white;
  font-family: Montserrat;
  font-size: 17px;
}